<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8"/>
    <meta name="description" content="Sykmelding ved arbeidsuførhet arbeidsgiver"/>
    <meta name="author" content="smarbeidsgiver-pdfgen"/>
    <meta name="subject" content="Sykmelding"/>
    {{#block 'smarbeidsgiver/style' }}
    {{/block}}
    <title>Sykmelding til arbeidsgiver</title>
</head>
<body>
    <div id="footer">
        <span class="navn">{{ ansatt.navn }}</span>
        <span class="sidetall">side <span id="pagenumber"></span> av <span id="pagecount"></span></span>
    </div>
    <header class="header">
        <h1>
            <img class="header-ikon" alt="person med slips ikon"
                 src="{{ image "arbeidsgiver.svg" }}" />
            <span>Sykmelding til arbeidsgiver</span>
        </h1>
    </header>
    <div class="sykmeldingdel">
        <div class="sykmelding-til-arbeidsgiver sykmelding-seksjon">
            <div class="sykmelding-nokkelopplysning">
                <h2 class="sykmeldt-navn">
                    {{ ansatt.navn }}
                </h2>
                <p class="arbeidsgivers-fodselsnummer">
                    {{ ansatt.fnr }}
                </p>
            </div>
            <div class="sykmelding-nokkelopplysning">
                {{#each arbeidsgiverSykmelding.sykmeldingsperioder }}
                    <h3>Periode</h3>
                    <p>
                        <span class="strong">{{iso_to_date fom }} - {{iso_to_date tom }}</span>
                        <span class="subtekst"> &#8226; {{ varighet }} dager</span>
                    </p>
                    <div>
                        {{#eq type "AKTIVITET_IKKE_MULIG" }}100 % sykmeldt{{/eq}}
                        {{#eq type "GRADERT" }}{{ gradert.grad }} % sykmeldt
                        {{#if gradert.reisetilskudd }}
                         med reisetilskudd
                        {{/if}}
                        {{/eq}}
                        {{#eq type "BEHANDLINGSDAGER" }}{{ behandlingsdager }} behandlingsdag(er){{/eq}}
                        {{#eq type "AVVENTENDE" }}<p class="luft">Avventende sykmelding</p>
                        <h3>Innspill til arbeidsgiver om tilrettelegging</h3>
                        <p>{{ innspillTilArbeidsgiver }}</p>
                        {{/eq}}
                        {{#eq type "REISETILSKUDD" }}Reisetilskudd{{/eq}}
                    </div>
                {{/each}}
            </div>
            <div class="sykmelding-nokkelopplysning">
                <h3>Diagnose</h3>
                <div class="luft">
                    <p class="skravert">Diagnosen er skjult for arbeidsgiver</p>
                </div>
                {{#if arbeidsgiverSykmelding.prognose.arbeidsforEtterPeriode }}
                <p>
                    <img class="checkbox" alt="checkboks"
                      src="{{ image "Checkboks.png" }}" />
                    <span class="inline-ikon">Pasienten er 100 % arbeidsfør etter perioden</span>
                </p>
                    {{else}}
                    <p><em>Behandler har ikke notert om pasienten er arbeidsfør etter denne perioden</em></p>
                {{/if}}
            </div>
            {{#if arbeidsgiverSykmelding.prognose.hensynArbeidsplassen }}
                <div class="sykmelding-nokkelopplysning">
                    <h3>Beskriv eventuelle hensyn som må tas på arbeidsplassen</h3>
                        <p>{{ arbeidsgiverSykmelding.prognose.hensynArbeidsplassen }}</p>
                </div>
            {{/if}}
            {{#if arbeidsgiverSykmelding.arbeidsgiverNavn }}
                <div class="sykmelding-nokkelopplysning">
                    <h3>Arbeidsgiver som legen har skrevet inn</h3>
                    <p>{{ arbeidsgiverSykmelding.arbeidsgiverNavn }}</p>
                </div>
            {{/if}}
            <div class="sykmelding-nokkelopplysning">
                <h3>Lege / Sykmelder</h3>
                <p>{{ arbeidsgiverSykmelding.behandler.navn }}</p>
            </div>
        </div>
        <div class="resten">
            <div class="sykmelding-seksjon">
                <div class="sykmelding-nokkelopplysning">
                    <h3>Dato sykmeldingen ble skrevet</h3>
                    <p>&#8211; {{iso_to_nor_date arbeidsgiverSykmelding.behandletTidspunkt }}</p>
                </div>
                <div class="sykmelding-nokkelopplysning">
                    <h3>Når startet det legemeldte fraværet?</h3>
                    <p>&#8211; {{iso_to_date arbeidsgiverSykmelding.syketilfelleStartDato }}</p>
                </div>
                {{#if arbeidsgiverSykmelding.egenmeldingsdager }}
                    <div class="sykmelding-nokkelopplysning">
                        <h3>Oppgitte egenmeldingsdager</h3>
                    {{#each arbeidsgiverSykmelding.egenmeldingsdager }}
                            <p>&#8211; {{iso_to_date this }}</p>
                    {{/each}}
                    </div>
                {{/if}}
            </div>
            {{#each arbeidsgiverSykmelding.sykmeldingsperioder }}
                {{#if aktivitetIkkeMulig.arbeidsrelatertArsak }}
                    <div class="sykmelding-seksjon">
                        <h2>Mulighet for arbeid</h2>
                        <div class="sykmelding-nokkelopplysning">
                            <h3>Pasienten kan ikke være i arbeid (100 % sykmeldt)</h3>
                            <p>
                                <img class="checkbox" alt="checkboks"
                                     src="{{ image "Checkboks.png" }}"/>
                                <span class="inline-ikon">Forhold på arbeidsplassen vanskeliggjør arbeidsrelatert aktivitet</span>
                            </p>
                            <h3>Angi hva som er årsaken</h3>
                            <p>&#8211; {{ aktivitetIkkeMulig.arbeidsrelatertArsak.beskrivelse }}</p>
                        </div>
                    </div>
                    {{else}}
                    <div class="sykmelding-seksjon">
                        <h2>Mulighet for arbeid</h2>
                        <div class="sykmelding-nokkelopplysning">
                            <h3>Pasienten kan ikke være i arbeid (100 % sykmeldt)</h3>
                            <div>
                                <p><em>Behandler har ikke notert om forhold på arbeidsplassen vanskeliggjør arbeidsrelatert aktivitet</em></p>
                            </div>
                        </div>
                    </div>
                {{/if}}
            {{/each}}
            {{#if arbeidsgiverSykmelding.tiltakArbeidsplassen }}
                <div class="sykmelding-seksjon">
                    <div class="sykmelding-nokkelopplysning">
                        <h2>Hva skal til for å bedre arbeidsevnen?</h2>
                        <h3>Tilrettelegging/hensyn som bør tas på arbeidsplassen</h3>
                        <p>&#8211; {{ arbeidsgiverSykmelding.tiltakArbeidsplassen }}</p>
                    </div>
                </div>
            {{/if}}
            {{#if arbeidsgiverSykmelding.meldingTilArbeidsgiver }}
                <div class="sykmelding-seksjon">
                    <div class="sykmelding-nokkelopplysning">
                        <h2>Melding til arbeidsgiver</h2>
                        <h3>Innspill til arbeidsgiver</h3>
                        <p>&#8211; {{ arbeidsgiverSykmelding.meldingTilArbeidsgiver }}</p>
                    </div>
                </div>
            {{/if}}
            <div class="sykmelding-seksjon">
                <div class="sykmelding-nokkelopplysning">
                    <h2>Annet</h2>
                    <h3>Telefon til lege/sykmelder</h3>
                    <p>&#8211; {{ arbeidsgiverSykmelding.behandler.tlf }}</p>
                </div>
            </div>
        </div>
    </div>
    {{#if narmesteleder }}
        <div class="syk sykmeldingdel">
            <div class="sykmelding-til-arbeidsgiver">
                <h2>Nærmeste leder med personalansvar</h2>
            </div>
            <div class="resten">
                <div class="sykmelding-seksjon">
                    <div class="sykmelding-nokkelopplysning">
                        <h3>Navn</h3>
                        <p>&#8211; {{ narmesteleder.navn }}</p>
                    </div>
                    <div class="sykmelding-nokkelopplysning">
                        <h3>Fødselsnummer</h3>
                        <p>&#8211; {{ narmesteleder.fnr }}</p>
                    </div>
                    <div class="sykmelding-nokkelopplysning">
                        <h3>Telefon</h3>
                        <p>&#8211; {{ narmesteleder.telefonnummer }}</p>
                    </div>
                    <div class="sykmelding-nokkelopplysning">
                        <h3>E-post</h3>
                        <p>&#8211; {{ narmesteleder.epost }}</p>
                    </div>
                    <div class="sykmelding-nokkelopplysning">
                        <h3>Dato meldt inn</h3>
                        <p>&#8211; {{iso_to_date narmesteleder.aktivFom }}</p>
                    </div>
                    <h3>Er det endringer i disse opplysningene?</h3>
                    <p>Meld fra til NAV ved å hente opp det skjemaet du lagret sist for denne arbeidstakeren. Du finner det under "Arkivert" i fanen "Min meldingsboks".</p>
                    <p>Sorter lista etter dato og se etter datoen ovenfor. Trykk deretter på "Lag ny kopi".</p>
                </div>
            </div>
        </div>
    {{/if}}
</body>
</html>